CompileFlags:
  Add:
    - -std=c11
    - -DUSE_HAL_DRIVER
    - -DSTM32F103xB
    - -ICore/Inc
    - -IDrivers/CMSIS/Device/ST/STM32F1xx/Include
    - -IDrivers/CMSIS/Include
    - -IDrivers/STM32F1xx_HAL_Driver/Inc
    - -ISYSTEM
    - -IHARDWARE
    - -IHARDWARE/OLED